*{
    box-sizing: border-box;
    font-family: monospace, Helvetica, sans-serif;
}
body{
    background-color: #ffdcdc;
    margin: 2rem 10%;
}
h1{
    font-size: 2rem;
}
h2{
    text-align: center;
    font-size: 2rem;
}
h3{
    text-align: center;
    font-size: 1.65rem;
}
form, #updateForm{
    background-color: #1f1f1f;
    padding: 1.25rem;
    font-size: 1.3rem;
}
label, #response{
    color: white;
}
input[type="text"], input[type="number"]{
    padding: 0.3rem;
    margin: 0.5rem 0rem;
    font-size: 1rem;
}
button{
    font-size: 1rem;
    padding: 0.2rem 0.8rem;
    cursor: pointer;
}
button[type="submit"]{
    background-color: #3828c4;
    color: white;
    margin-left: 1.25rem;
    &:hover{
        background-color: #84adfa;
    }
}
#updateForm>button{
    margin-left: 1.25rem;
}
hr{
    margin: 1.4rem 0rem;
}
li{
    font-size: 1.3rem;
    padding: 0.3rem;
}
p:not(#response){
    font-size: 1.3rem;
}